@import "../deps";


.header-inner {
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    .nav-link {
      padding: 14px 12px 13px;
      border-bottom: 2px solid transparent;
      transition: color 0.3s ease 0s;
      text-transform: uppercase;
      @include font_condensed;
      @include font-size(16px, 20px);
      font-weight: 700;
      color: $white;

      &:hover {
        color: $green;
      }
    }
  }
}
