@import "../deps";


.faq-wrapper {

  .faq-inner {
    padding-bottom: 20px;

    & > img {
      width: 100%;
    }

    .logo {
      max-width: 600px;
      margin-top: 80px;
      margin-bottom: 40px;
      @include hpad(30px);

      @include for-phone-only() {
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }

    .faq {
      margin-top: 20px;
      text-transform: uppercase;

      .faq-question {
        display: inline-block;
        margin-top: 35px;
        margin-bottom: 14px;
        font-weight: 700;
        @include font_size(26px, 30px);
        @include media_interval($media-tablet-portrait, $media-tablet-landscape) {
          @include font-size(24px);
        }
        @include media_interval(0, $media-tablet-portrait) {
          @include font-size(21px);
        }

        &:first-of-type {
          margin-top: 0;
        }
      }

      .faq-answer {
        color: $gray;
        font-weight: 600;
        @include font_size(22.4px, 28.8px);
        letter-spacing: 1px;

        @include media_interval($media-tablet-portrait, $media-tablet-landscape) {
          @include font-size(20px);
        }
        @include media_interval(0, $media-tablet-portrait) {
          @include font-size(18px);
        }
      }
    }

    .graph {
      max-width: 600px;
      margin-top: 15px;
      @include hpad(20px);

      @include media_interval($media-tablet-landscape, 0) {
        margin-left: -100px;
      }
    }
  }
}
